In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
def format_column_name(col_name):
    if 'Week' in col_name and 'Year' in col_name:
        week_num = col_name.split(' ')[1]
        year_num = col_name.split(' ')[3]
        return f"w{week_num} y{year_num}"
    return col_name

# Biossido di azoto

In [145]:
means_biossido_di_azoto_imputed = pd.read_csv('Air_quality_data/means_biossido_di_azoto_imputed.csv')
means_biossido_di_azoto_imputed.head()

,Unnamed: 0,IdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,...,Week 44 Year 2016,Week 45 Year 2016,Week 46 Year 2016,Week 47 Year 2016,Week 48 Year 2016,Week 49 Year 2016,Week 50 Year 2016,Week 51 Year 2016,Week 52 Year 2016,Week 53 Year 2016
0,0,5504.0,99.15,69.36,88.24,94.66,76.28,77.14,104.79,77.82,...,77.16,76.22,79.60,78.49,64.93,76.02,76.05,74.94,83.10,72.43
1,1,5506.0,86.96,65.20,76.64,81.33,70.78,69.44,102.13,76.28,...,52.64,54.59,53.00,51.37,54.60,62.74,55.11,53.86,55.38,51.39
2,2,5507.0,93.04,80.90,64.80,68.00,58.59,77.16,103.05,72.50,...,38.61,47.42,41.69,38.24,42.91,55.56,63.29,59.46,57.72,54.94
3,3,5508.0,69.17,53.50,60.77,67.32,63.61,57.76,76.15,75.34,...,38.11,45.74,48.60,39.10,42.59,52.30,56.27,53.82,56.32,50.73
4,4,5511.0,56.34,42.19,58.71,57.54,56.72,55.67,78.63,46.29,...,35.52,39.85,43.13,27.42,36.10,42.95,48.69,37.65,41.31,42.88

In [146]:
means_biossido_di_azoto_imputed.rename(columns=format_column_name, inplace=True)
means_biossido_di_azoto_imputed.head()

,Unnamed: 0,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,0,5504.0,99.15,69.36,88.24,94.66,76.28,77.14,104.79,77.82,...,77.16,76.22,79.60,78.49,64.93,76.02,76.05,74.94,83.10,72.43
1,1,5506.0,86.96,65.20,76.64,81.33,70.78,69.44,102.13,76.28,...,52.64,54.59,53.00,51.37,54.60,62.74,55.11,53.86,55.38,51.39
2,2,5507.0,93.04,80.90,64.80,68.00,58.59,77.16,103.05,72.50,...,38.61,47.42,41.69,38.24,42.91,55.56,63.29,59.46,57.72,54.94
3,3,5508.0,69.17,53.50,60.77,67.32,63.61,57.76,76.15,75.34,...,38.11,45.74,48.60,39.10,42.59,52.30,56.27,53.82,56.32,50.73
4,4,5511.0,56.34,42.19,58.71,57.54,56.72,55.67,78.63,46.29,...,35.52,39.85,43.13,27.42,36.10,42.95,48.69,37.65,41.31,42.88

In [147]:
## Remove first column
means_biossido_di_azoto_imputed = means_biossido_di_azoto_imputed.drop('Unnamed: 0', axis=1)
means_biossido_di_azoto_imputed.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5504.0,99.15,69.36,88.24,94.66,76.28,77.14,104.79,77.82,85.39,...,77.16,76.22,79.60,78.49,64.93,76.02,76.05,74.94,83.10,72.43
1,5506.0,86.96,65.20,76.64,81.33,70.78,69.44,102.13,76.28,90.06,...,52.64,54.59,53.00,51.37,54.60,62.74,55.11,53.86,55.38,51.39
2,5507.0,93.04,80.90,64.80,68.00,58.59,77.16,103.05,72.50,89.91,...,38.61,47.42,41.69,38.24,42.91,55.56,63.29,59.46,57.72,54.94
3,5508.0,69.17,53.50,60.77,67.32,63.61,57.76,76.15,75.34,81.12,...,38.11,45.74,48.60,39.10,42.59,52.30,56.27,53.82,56.32,50.73
4,5511.0,56.34,42.19,58.71,57.54,56.72,55.67,78.63,46.29,41.31,...,35.52,39.85,43.13,27.42,36.10,42.95,48.69,37.65,41.31,42.88

In [148]:
## Save the dataframe to a csv file
means_biossido_di_azoto_imputed.to_csv('means_biossido_di_azoto_imputed_formatted.csv', index=False)

# Ozone

In [149]:
means_ozone = pd.read_csv('Air_quality_data/means_ozone.csv')
means_ozone.head()

,means_ozone.csvIdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,Week 9 Year 2013,...,Week 45 Year 2017,Week 46 Year 2017,Week 47 Year 2017,Week 48 Year 2017,Week 49 Year 2017,Week 50 Year 2017,Week 51 Year 2017,Week 52 Year 2017,Week 53 Year 2017,Week 6 Year 2017
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,17.29,18.16,9.08,22.22,13.41,8.4,12.17,21.31,2.48,NaN
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,12.24,11.81,11.73,12.99,17.29,12.5,11.28,24.36,12.82,9.45
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
means_ozone.rename(columns=format_column_name, inplace=True)
means_ozone.head()

,means_ozone.csvIdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w45 y2017,w46 y2017,w47 y2017,w48 y2017,w49 y2017,w50 y2017,w51 y2017,w52 y2017,w53 y2017,w6 y2017
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,17.29,18.16,9.08,22.22,13.41,8.4,12.17,21.31,2.48,NaN
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,12.24,11.81,11.73,12.99,17.29,12.5,11.28,24.36,12.82,9.45
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
## Remove column if contains y2017
means_ozone = means_ozone.loc[:, ~means_ozone.columns.str.contains('y2017')]
means_ozone.head()

,means_ozone.csvIdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,w7 y2016
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47,NaN
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95,15.77
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47,14.88
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62,16.48
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69,19.98

In [152]:
## Select column named w6 y2015 and place it just after the column named w5 y2015
n_column = means_ozone.columns.get_loc('w5 y2015')
w6_2015_column = means_ozone.pop('w6 y2015')
means_ozone.insert(n_column + 1, 'w6 y2015', w6_2015_column)

## Select column named w7 y2016 and place it just after the column named w6 y2016
n2_column = means_ozone.columns.get_loc('w6 y2016')
w7_2016_column = means_ozone.pop('w7 y2016')
means_ozone.insert(n2_column + 1, 'w7 y2016', w7_2016_column)

means_ozone.head()

C:\Users\massi\AppData\Local\Temp\ipykernel_12372\2712310681.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ozone.insert(n_column + 1, 'w6 y2015', w6_2015_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_12372\2712310681.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ozone.insert(n2_column + 1, 'w7 y2016', w7_2016_column)

,means_ozone.csvIdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,16.24,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,14.97,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,13.09,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,17.66,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,11.03,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69

In [153]:
## Count missing values
means_ozone.isnull().sum().sum()

45

In [154]:
## Interpolate missing values
means_ozone_imputed = means_ozone.interpolate(method='linear', axis=1, limit = 4)

In [155]:
## Count missing values
means_ozone_imputed.isnull().sum().sum()

0

In [156]:
# Rename first column to 'IdSensore'
means_ozone_imputed.rename(columns={'means_ozone.csvIdSensore': 'IdSensore'}, inplace=True)
means_ozone_imputed.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,16.24,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,14.97,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,13.09,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,17.66,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,11.03,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69

In [157]:
means_ozone_imputed['IdSensore'] = means_ozone_imputed['IdSensore'].astype(int)
means_ozone_imputed.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5707,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,16.24,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47
1,5708,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,14.97,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95
2,5710,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,13.09,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47
3,5711,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,17.66,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62
4,5712,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,11.03,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69

In [158]:
## Save the dataframe to a csv file
means_ozone_imputed.to_csv('means_ozone_imputed.csv', index=False)

# MONOSSIDO DI CARBONIO

In [180]:
means_monossido_di_carbonio = pd.read_csv('Air_quality_data/means_monossido_di_carbonio.csv')
means_monossido_di_carbonio.head()

,IdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,Week 9 Year 2013,...,Week 48 Year 2017,Week 49 Year 2017,Week 50 Year 2017,Week 51 Year 2017,Week 52 Year 2017,Week 53 Year 2017,Week 2 Year 2017,Week 3 Year 2017,Week 33 Year 2017,Week 34 Year 2017
0,5810.0,1.29,1.21,1.41,1.62,1.56,1.50,1.96,1.82,1.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5812.0,1.08,0.75,0.92,1.05,0.84,0.64,1.08,0.71,0.84,...,0.50,0.72,0.52,0.95,0.61,0.68,NaN,NaN,NaN,NaN
2,5814.0,1.11,1.04,1.14,1.33,0.59,0.49,0.91,0.89,0.66,...,0.80,0.99,1.04,1.22,0.51,0.72,0.95,1.02,0.20,0.23
3,5820.0,1.69,1.25,1.19,1.27,1.16,0.97,1.62,1.09,1.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5823.0,2.65,1.53,1.61,1.87,1.89,1.66,2.01,1.90,1.84,...,0.89,1.21,1.13,1.51,1.17,1.19,1.37,1.18,0.94,0.95

In [181]:
means_monossido_di_carbonio.rename(columns=format_column_name, inplace=True)
means_monossido_di_carbonio.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w48 y2017,w49 y2017,w50 y2017,w51 y2017,w52 y2017,w53 y2017,w2 y2017,w3 y2017,w33 y2017,w34 y2017
0,5810.0,1.29,1.21,1.41,1.62,1.56,1.50,1.96,1.82,1.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5812.0,1.08,0.75,0.92,1.05,0.84,0.64,1.08,0.71,0.84,...,0.50,0.72,0.52,0.95,0.61,0.68,NaN,NaN,NaN,NaN
2,5814.0,1.11,1.04,1.14,1.33,0.59,0.49,0.91,0.89,0.66,...,0.80,0.99,1.04,1.22,0.51,0.72,0.95,1.02,0.20,0.23
3,5820.0,1.69,1.25,1.19,1.27,1.16,0.97,1.62,1.09,1.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5823.0,2.65,1.53,1.61,1.87,1.89,1.66,2.01,1.90,1.84,...,0.89,1.21,1.13,1.51,1.17,1.19,1.37,1.18,0.94,0.95

In [182]:
## Remove column if contains y2017
means_monossido_di_carbonio = means_monossido_di_carbonio.loc[:, ~means_monossido_di_carbonio.columns.str.contains('y2017')]
means_monossido_di_carbonio.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5810.0,1.29,1.21,1.41,1.62,1.56,1.50,1.96,1.82,1.89,...,1.10,1.22,1.53,1.71,1.78,2.00,1.23,1.35,1.50,1.55
1,5812.0,1.08,0.75,0.92,1.05,0.84,0.64,1.08,0.71,0.84,...,0.92,0.90,1.03,1.10,0.99,1.33,1.48,1.48,1.48,1.56
2,5814.0,1.11,1.04,1.14,1.33,0.59,0.49,0.91,0.89,0.66,...,0.87,0.89,1.16,1.40,1.21,1.29,1.60,1.42,0.83,0.82
3,5820.0,1.69,1.25,1.19,1.27,1.16,0.97,1.62,1.09,1.01,...,0.90,0.88,1.12,0.93,0.67,1.18,1.32,1.27,1.28,1.28
4,5823.0,2.65,1.53,1.61,1.87,1.89,1.66,2.01,1.90,1.84,...,1.06,1.17,1.43,0.88,0.86,1.25,1.47,1.58,1.63,1.46

In [183]:
## reposition w18,19 y2014
n_column = means_monossido_di_carbonio.columns.get_loc('w17 y2014')
w18_2014_column = means_monossido_di_carbonio.pop('w18 y2014')
means_monossido_di_carbonio.insert(n_column + 1, 'w18 y2014', w18_2014_column)

n2_column = means_monossido_di_carbonio.columns.get_loc('w18 y2014')
w19_2014_column = means_monossido_di_carbonio.pop('w19 y2014')
means_monossido_di_carbonio.insert(n2_column + 1, 'w19 y2014', w19_2014_column)
## reposition w40 y2015
n3_column = means_monossido_di_carbonio.columns.get_loc('w39 y2015')
w40_2015_column = means_monossido_di_carbonio.pop('w40 y2015')
means_monossido_di_carbonio.insert(n3_column + 1, 'w40 y2015', w40_2015_column)

means_monossido_di_carbonio.head()

C:\Users\massi\AppData\Local\Temp\ipykernel_12372\1375867568.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_monossido_di_carbonio.insert(n_column + 1, 'w18 y2014', w18_2014_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_12372\1375867568.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_monossido_di_carbonio.insert(n2_column + 1, 'w19 y2014', w19_2014_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_12372\1375867568.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_monossido_di_carbonio.insert(n3_column + 1, 'w40 y2015', w40_2015_column)

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,5810.0,1.29,1.21,1.41,1.62,1.56,1.50,1.96,1.82,1.89,...,1.10,1.22,1.53,1.71,1.78,2.00,1.23,1.35,1.50,1.55
1,5812.0,1.08,0.75,0.92,1.05,0.84,0.64,1.08,0.71,0.84,...,0.92,0.90,1.03,1.10,0.99,1.33,1.48,1.48,1.48,1.56
2,5814.0,1.11,1.04,1.14,1.33,0.59,0.49,0.91,0.89,0.66,...,0.87,0.89,1.16,1.40,1.21,1.29,1.60,1.42,0.83,0.82
3,5820.0,1.69,1.25,1.19,1.27,1.16,0.97,1.62,1.09,1.01,...,0.90,0.88,1.12,0.93,0.67,1.18,1.32,1.27,1.28,1.28
4,5823.0,2.65,1.53,1.61,1.87,1.89,1.66,2.01,1.90,1.84,...,1.06,1.17,1.43,0.88,0.86,1.25,1.47,1.58,1.63,1.46

In [184]:
## Count missing values
means_monossido_di_carbonio.isnull().sum().sum()

81

In [185]:
## Interpolate missing values
means_monossido_di_carbonio_imputed = means_monossido_di_carbonio.interpolate(method='linear', axis=1, limit = 14)

In [186]:
## Count missing values
means_monossido_di_carbonio_imputed.isnull().sum().sum()

0

In [187]:
#Save the dataframe to a csv file
means_monossido_di_carbonio_imputed.to_csv('means_monossido_di_carbonio_imputed.csv', index=False)

# OSSIDI DI AZOTO

In [9]:
means_ossidi_di_azoto = pd.read_csv('Air_quality_data/means_ossidi_di_azoto.csv')
means_ossidi_di_azoto.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,6270.0,115.07,85.40,120.95,132.33,103.44,96.61,173.59,84.13,114.89,...,70.58,80.84,96.11,84.54,78.03,122.81,96.03,104.88,92.11,75.95
1,6276.0,218.54,149.66,219.88,207.31,171.00,163.75,273.41,121.25,197.50,...,111.81,137.37,127.73,117.90,184.79,137.36,120.34,186.35,174.75,173.38
2,6284.0,141.10,87.09,NaN,163.61,124.98,119.18,223.75,124.49,152.37,...,106.44,137.45,149.39,148.98,120.64,218.04,171.08,207.61,237.89,245.88
3,6288.0,96.85,69.41,73.45,99.12,122.45,52.13,100.45,58.09,69.86,...,57.95,72.42,86.12,111.51,61.21,120.94,189.29,152.57,106.95,88.53
4,6290.0,306.47,170.45,223.01,241.45,225.13,122.01,189.04,129.45,191.27,...,149.06,179.72,182.74,161.68,197.70,328.94,345.37,307.64,275.88,275.58

In [10]:
#w5 y2014 is missing
#w18,19 y2014 are missing
#w6 y2015 is missing

## Select column named w5 y2014 and place it just after the column named w4 y2014
n_column = means_ossidi_di_azoto.columns.get_loc('w4 y2014')
w5_2014_column = means_ossidi_di_azoto.pop('w5 y2014')
means_ossidi_di_azoto.insert(n_column + 1, 'w5 y2014', w5_2014_column)

## Select column named w18 y2014 and place it just after the column named w17 y2014
n2_column = means_ossidi_di_azoto.columns.get_loc('w17 y2014')
w18_2014_column = means_ossidi_di_azoto.pop('w18 y2014')
means_ossidi_di_azoto.insert(n2_column + 1, 'w18 y2014', w18_2014_column)

## Select column named w19 y2014 and place it just after the column named w18 y2014
n3_column = means_ossidi_di_azoto.columns.get_loc('w18 y2014')
w19_2014_column = means_ossidi_di_azoto.pop('w19 y2014')
means_ossidi_di_azoto.insert(n3_column + 1, 'w19 y2014', w19_2014_column)

## Select column named w6 y2015 and place it just after the column named w5 y2015
n4_column = means_ossidi_di_azoto.columns.get_loc('w5 y2015')
w6_2015_column = means_ossidi_di_azoto.pop('w6 y2015')
means_ossidi_di_azoto.insert(n4_column + 1, 'w6 y2015', w6_2015_column)

means_ossidi_di_azoto.head()

C:\Users\massi\AppData\Local\Temp\ipykernel_28708\1561428108.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ossidi_di_azoto.insert(n_column + 1, 'w5 y2014', w5_2014_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_28708\1561428108.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ossidi_di_azoto.insert(n2_column + 1, 'w18 y2014', w18_2014_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_28708\1561428108.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ossidi_di_azoto.insert(n3_column + 1, 'w19 y2014', w19_2014_column)
C:\Users\massi\AppData\Local\Temp\ipykernel_28708\1561428108.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  means_ossidi_di_azoto.insert(n4_column + 1, 'w6 y2015', w6_2015_column)

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,6270.0,115.07,85.40,120.95,132.33,103.44,96.61,173.59,84.13,114.89,...,70.58,80.84,96.11,84.54,78.03,122.81,96.03,104.88,92.11,75.95
1,6276.0,218.54,149.66,219.88,207.31,171.00,163.75,273.41,121.25,197.50,...,111.81,137.37,127.73,117.90,184.79,137.36,120.34,186.35,174.75,173.38
2,6284.0,141.10,87.09,NaN,163.61,124.98,119.18,223.75,124.49,152.37,...,106.44,137.45,149.39,148.98,120.64,218.04,171.08,207.61,237.89,245.88
3,6288.0,96.85,69.41,73.45,99.12,122.45,52.13,100.45,58.09,69.86,...,57.95,72.42,86.12,111.51,61.21,120.94,189.29,152.57,106.95,88.53
4,6290.0,306.47,170.45,223.01,241.45,225.13,122.01,189.04,129.45,191.27,...,149.06,179.72,182.74,161.68,197.70,328.94,345.37,307.64,275.88,275.58

In [11]:
## Count missing values
means_ossidi_di_azoto.isnull().sum().sum()

301

In [12]:
## Interpolate missing values
means_ossidi_di_azoto_imputed = means_ossidi_di_azoto.interpolate(method='linear', axis=1, limit = 23)

In [17]:
## Count missing values
means_ossidi_di_azoto_imputed.isnull().sum().sum()

0

In [16]:
means_ossidi_di_azoto_imputed['IdSensore'] = means_ossidi_di_azoto_imputed['IdSensore'].astype(int)
means_ossidi_di_azoto_imputed.head()

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,6270,115.07,85.40,120.95,132.33,103.44,96.61,173.59,84.13,114.89,...,70.58,80.84,96.11,84.54,78.03,122.81,96.03,104.88,92.11,75.95
1,6276,218.54,149.66,219.88,207.31,171.00,163.75,273.41,121.25,197.50,...,111.81,137.37,127.73,117.90,184.79,137.36,120.34,186.35,174.75,173.38
2,6284,141.10,87.09,125.35,163.61,124.98,119.18,223.75,124.49,152.37,...,106.44,137.45,149.39,148.98,120.64,218.04,171.08,207.61,237.89,245.88
3,6288,96.85,69.41,73.45,99.12,122.45,52.13,100.45,58.09,69.86,...,57.95,72.42,86.12,111.51,61.21,120.94,189.29,152.57,106.95,88.53
4,6290,306.47,170.45,223.01,241.45,225.13,122.01,189.04,129.45,191.27,...,149.06,179.72,182.74,161.68,197.70,328.94,345.37,307.64,275.88,275.58

In [18]:
## Save the dataframe to a csv file
means_ossidi_di_azoto_imputed.to_csv('means_ossidi_di_azoto_imputed.csv', index=False)