In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('monossido_di_carbonio.csv')
data

,IdSensore,Data,Valore,Stato,UnitaMisura,NomeTipoSensore,Year,Month,Day,Hour,CumulativeDays,Week,CumulativeDay
0,5810,2013-01-01 00:00:00,1.5,VA,mg/m³,Monossido di Carbonio,2013,1,1,0,1,1,1
1,5810,2013-01-01 01:00:00,1.5,VA,mg/m³,Monossido di Carbonio,2013,1,1,1,1,1,1
2,5810,2013-01-01 02:00:00,1.4,VA,mg/m³,Monossido di Carbonio,2013,1,1,2,1,1,1
3,5810,2013-01-01 03:00:00,1.5,VA,mg/m³,Monossido di Carbonio,2013,1,1,3,1,1,1
4,5810,2013-01-01 04:00:00,1.6,VA,mg/m³,Monossido di Carbonio,2013,1,1,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
640376,10355,2016-12-31 20:00:00,1.8,VA,mg/m³,Monossido di Carbonio,2016,12,31,20,366,53,366
640377,10355,2016-12-31 21:00:00,2.4,VA,mg/m³,Monossido di Carbonio,2016,12,31,21,366,53,366
640378,10355,2016-12-31 22:00:00,2.1,VA,mg/m³,Monossido di Carbonio,2016,12,31,22,366,53,366
640379,10355,2016-12-31 23:00:00,2.8,VA,mg/m³,Monossido di Carbonio,2016,12,31,23,366,53,366
640380,10355,2017-01-01 00:00:00,3.0,VA,mg/m³,Monossido di Carbonio,2017,1,1,0,1,1,1

In [3]:
# dropping all the nocturnal hour (from 23 to 7)
data = data[(data['Hour'] >= 7) & (data['Hour'] <= 23)]

# counting the number of values for each day in each year
data.groupby(['Year', 'Week', 'IdSensore']).size()

Year  Week  IdSensore
2013  1     5810         118
            5812         118
            5814         119
            5820           7
            5823         119
                        ...
2017  53    5827          17
            5832          17
            5834          17
            5835          17
            10002         17
Length: 4042, dtype: int64

In [4]:
# weekly_std = data.groupby(['Year', 'Week']).size().std()
data['IdSensore'].unique()
# total number of weeks in the dataset
weeks = data.groupby(['Year', 'Week']).size().count()
# computing the maean for each sensors
# creating the dataframe
colarray = ['IdSensore']
for years in data['Year'].unique():
    for week in data[data['Year'] == years]['Week'].unique():
        colarray.append('Week ' + str(week) + ' Year ' + str(years))
means = pd.DataFrame(columns=colarray)

for sensor in data['IdSensore'].unique():
    currmeans = []
    for year in data['Year'].unique():
        for week in data[data['Year'] == year]['Week'].unique():
            currentweek = data[(data['Year'] == year) & (data['Week'] == week) & (data['IdSensore'] == sensor)]
            currmeans.append(round(currentweek['Valore'].mean(), 2))
    # adding the means of the sensors as a row in the dataframe
    means.loc[len(means)] = [sensor] + currmeans
means

,IdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,Week 9 Year 2013,...,Week 48 Year 2017,Week 49 Year 2017,Week 50 Year 2017,Week 51 Year 2017,Week 52 Year 2017,Week 53 Year 2017,Week 2 Year 2017,Week 3 Year 2017,Week 33 Year 2017,Week 34 Year 2017
0,5810.0,1.29,1.21,1.41,1.62,1.56,1.50,1.96,1.82,1.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5812.0,1.08,0.75,0.92,1.05,0.84,0.64,1.08,0.71,0.84,...,0.50,0.72,0.52,0.95,0.61,0.68,NaN,NaN,NaN,NaN
2,5814.0,1.11,1.04,1.14,1.33,0.59,0.49,0.91,0.89,0.66,...,0.80,0.99,1.04,1.22,0.51,0.72,0.95,1.02,0.20,0.23
3,5820.0,1.69,1.25,1.19,1.27,1.16,0.97,1.62,1.09,1.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5823.0,2.65,1.53,1.61,1.87,1.89,1.66,2.01,1.90,1.84,...,0.89,1.21,1.13,1.51,1.17,1.19,1.37,1.18,0.94,0.95
5,5825.0,0.99,0.62,0.74,0.76,0.66,0.48,0.77,0.52,0.66,...,0.62,0.88,0.75,1.01,0.65,0.60,0.50,0.70,0.33,0.35
6,5826.0,1.65,1.27,1.53,1.40,1.08,0.94,1.63,1.25,1.17,...,0.74,0.89,0.66,1.10,0.72,0.62,1.32,1.38,0.18,0.20
7,5827.0,3.12,2.60,1.38,1.66,1.87,1.35,1.82,0.99,1.10,...,1.24,1.14,1.23,1.43,0.92,1.05,2.03,1.58,0.58,0.67
8,5831.0,1.50,1.07,1.08,1.18,1.16,0.88,1.44,1.15,1.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5832.0,1.92,1.93,2.09,2.14,1.09,0.54,1.16,0.86,1.38,...,1.16,1.93,1.29,1.46,1.07,1.27,0.35,1.70,0.13,0.08
10,5834.0,1.89,1.63,1.34,1.56,1.26,0.68,0.94,0.91,1.32,...,0.85,1.20,1.16,1.56,1.14,1.18,1.24,1.09,0.52,0.50
11,5837.0,1.36,1.01,1.29,1.47,1.52,1.28,1.72,1.06,0.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5835.0,2.08,1.02,1.32,1.42,1.42,0.77,1.32,1.38,1.85,...,1.03,1.20,1.08,1.35,0.91,0.99,1.06,1.34,0.38,0.52
13,5841.0,1.71,1.34,1.14,1.21,1.26,1.12,1.65,0.68,1.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10002.0,1.37,1.19,1.38,1.41,1.46,1.27,1.62,0.69,0.77,...,1.03,1.27,1.20,1.16,0.86,0.92,1.44,1.03,0.33,0.50
15,10007.0,0.52,0.37,0.53,0.72,0.78,0.71,1.36,1.27,1.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10355.0,0.87,0.62,0.77,0.96,0.84,0.58,1.02,0.82,0.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# finding out the number of missing values for each row
missing = means.isna().sum(axis=1)
missing

0     56
1      7
2      7
3     59
4      4
5      9
6      1
7      0
8     71
9      5
10     4
11    56
12     7
13    53
14     1
15    57
16    66
dtype: int64

In [7]:
# saving the means
means.to_csv('means_monossido_di_carbonio.csv', index=False)