In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# loading the data
data = pd.read_csv('ozone.csv')
data

,IdSensore,Data,Valore,Stato,UnitaMisura,NomeTipoSensore,Year,Month,Day,Hour,CumulativeDays,Week,CumulativeDay
0,5707,2013-01-01 00:00:00,2.8,VA,µg/m³,Ozono,2013,1,1,0,1,1,1
1,5707,2013-01-01 01:00:00,2.7,VA,µg/m³,Ozono,2013,1,1,1,1,1,1
2,5707,2013-01-01 02:00:00,2.8,VA,µg/m³,Ozono,2013,1,1,2,1,1,1
3,5707,2013-01-01 03:00:00,2.7,VA,µg/m³,Ozono,2013,1,1,3,1,1,1
4,5707,2013-01-01 04:00:00,2.7,VA,µg/m³,Ozono,2013,1,1,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
597753,10350,2016-12-31 20:00:00,6.4,VA,µg/m³,Ozono,2016,12,31,20,366,53,366
597754,10350,2016-12-31 21:00:00,6.1,VA,µg/m³,Ozono,2016,12,31,21,366,53,366
597755,10350,2016-12-31 22:00:00,7.5,VA,µg/m³,Ozono,2016,12,31,22,366,53,366
597756,10350,2016-12-31 23:00:00,7.2,VA,µg/m³,Ozono,2016,12,31,23,366,53,366
597757,10350,2017-01-01 00:00:00,7.1,VA,µg/m³,Ozono,2017,1,1,0,1,1,1

In [18]:
# dropping 2017
data = data[data['Year'] != 2017]

In [19]:
# dropping all the nocturnal hour (from 23 to 7)
data = data[(data['Hour'] >= 7) & (data['Hour'] <= 23)]
# counting the number of values for each day in each year
data.groupby(['Year', 'Week', 'IdSensore']).size()

Year  Week  IdSensore
2013  1     5707         119
            5708          92
            5710         119
            5711           7
            5712         119
                        ...
2016  53    5724          34
            5725          34
            9900          34
            10282         34
            10350         34
Length: 3347, dtype: int64

In [20]:
# weekly_std = data.groupby(['Year', 'Week']).size().std()
data['IdSensore'].unique()
# total number of weeks in the dataset
weeks = data.groupby(['Year', 'Week']).size().count()
# computing the maean for each sensors
# creating the dataframe
colarray = ['IdSensore']
for years in data['Year'].unique():
    for week in data[data['Year'] == years]['Week'].unique():
        colarray.append('Week ' + str(week) + ' Year ' + str(years))
means = pd.DataFrame(columns=colarray)

for sensor in data['IdSensore'].unique():
    currmeans = []
    for year in data['Year'].unique():
        for week in data[data['Year'] == year]['Week'].unique():
            currentweek = data[(data['Year'] == year) & (data['Week'] == week) & (data['IdSensore'] == sensor)]
            currmeans.append(round(currentweek['Valore'].mean(), 2))
    # adding the means of the sensors as a row in the dataframe
    means.loc[len(means)] = [sensor] + currmeans
means

,IdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,Week 9 Year 2013,...,Week 45 Year 2016,Week 46 Year 2016,Week 47 Year 2016,Week 48 Year 2016,Week 49 Year 2016,Week 50 Year 2016,Week 51 Year 2016,Week 52 Year 2016,Week 53 Year 2016,Week 7 Year 2016
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47,NaN
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95,15.77
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47,14.88
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62,16.48
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69,19.98
5,5714.0,16.64,14.00,16.29,15.07,22.21,33.58,29.71,29.20,36.85,...,15.59,13.80,8.86,18.21,9.65,7.79,6.29,3.72,11.29,16.51
6,5715.0,5.65,5.25,8.01,6.54,15.15,21.00,12.32,20.78,22.73,...,11.73,11.87,7.67,14.02,9.97,8.09,8.23,12.52,11.21,15.51
7,5718.0,5.42,5.27,8.85,6.46,15.30,47.96,17.48,18.28,NaN,...,11.69,11.89,6.09,9.19,4.46,1.77,2.03,6.20,5.12,25.73
8,5717.0,6.45,7.69,8.74,8.94,10.33,17.33,12.48,13.86,14.91,...,7.76,7.14,1.86,10.40,4.00,1.34,1.43,9.92,5.08,11.59
9,5721.0,16.62,13.39,16.75,14.75,23.35,35.47,29.13,27.98,34.65,...,14.78,16.71,9.54,21.40,10.86,7.02,7.16,10.26,12.95,23.17
10,5722.0,NaN,NaN,8.41,11.18,17.32,25.05,21.15,23.75,26.84,...,10.78,10.98,6.91,11.86,8.56,7.07,6.68,15.13,8.61,NaN
11,5724.0,9.80,7.44,11.82,12.74,17.30,31.37,28.02,29.31,33.49,...,16.12,12.88,7.10,19.13,10.90,7.81,9.47,22.55,14.59,21.70
12,5725.0,2.14,2.07,2.94,5.10,9.82,19.14,15.95,15.00,25.77,...,9.08,9.18,5.30,11.20,7.84,6.48,9.08,19.35,21.79,9.95
13,9900.0,7.43,7.44,8.67,9.37,11.27,22.30,19.05,18.72,21.80,...,9.04,6.35,1.93,12.18,5.21,2.69,3.00,9.96,5.75,12.41
14,10282.0,6.04,6.25,7.36,8.25,6.35,18.65,17.86,17.89,23.64,...,9.43,9.14,4.61,11.82,6.74,3.98,3.39,12.14,6.49,21.11
15,10350.0,18.10,15.58,21.46,16.94,25.87,37.90,27.28,32.25,31.73,...,13.04,13.88,5.95,18.44,10.22,6.95,8.97,15.29,10.71,21.65

In [21]:
# finding out the number of missing values for each row
missing = means.isna().sum(axis=1)
missing

0      2
1      3
2      1
3      1
4      3
5      7
6      4
7      2
8      1
9      0
10    13
11     1
12     4
13     1
14     0
15     2
dtype: int64

In [22]:
# dropping the rows with more than 100 missing values
means = means[missing <= 100]

In [9]:
means

,IdSensore,Week 1 Year 2013,Week 2 Year 2013,Week 3 Year 2013,Week 4 Year 2013,Week 5 Year 2013,Week 6 Year 2013,Week 7 Year 2013,Week 8 Year 2013,Week 9 Year 2013,...,Week 45 Year 2017,Week 46 Year 2017,Week 47 Year 2017,Week 48 Year 2017,Week 49 Year 2017,Week 50 Year 2017,Week 51 Year 2017,Week 52 Year 2017,Week 53 Year 2017,Week 6 Year 2017
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,17.29,18.16,9.08,22.22,13.41,8.40,12.17,21.31,2.48,NaN
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,12.24,11.81,11.73,12.99,17.29,12.50,11.28,24.36,12.82,9.45
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5714.0,16.64,14.00,16.29,15.07,22.21,33.58,29.71,29.20,36.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5715.0,5.65,5.25,8.01,6.54,15.15,21.00,12.32,20.78,22.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5718.0,5.42,5.27,8.85,6.46,15.30,47.96,17.48,18.28,NaN,...,11.58,12.84,5.86,15.24,9.17,5.52,7.95,14.59,1.79,7.64
8,5717.0,6.45,7.69,8.74,8.94,10.33,17.33,12.48,13.86,14.91,...,8.60,8.81,6.24,10.09,9.53,5.54,3.93,8.66,3.90,9.22
9,5721.0,16.62,13.39,16.75,14.75,23.35,35.47,29.13,27.98,34.65,...,18.79,22.25,13.28,19.32,16.16,11.47,11.54,18.74,6.89,19.93
10,5722.0,NaN,NaN,8.41,11.18,17.32,25.05,21.15,23.75,26.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5724.0,9.80,7.44,11.82,12.74,17.30,31.37,28.02,29.31,33.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5725.0,2.14,2.07,2.94,5.10,9.82,19.14,15.95,15.00,25.77,...,NaN,NaN,NaN,9.46,8.79,5.78,5.23,10.88,4.01,4.03
13,9900.0,7.43,7.44,8.67,9.37,11.27,22.30,19.05,18.72,21.80,...,11.07,10.35,9.45,9.68,11.66,5.12,4.25,NaN,NaN,12.35
14,10282.0,6.04,6.25,7.36,8.25,6.35,18.65,17.86,17.89,23.64,...,9.99,8.23,6.79,13.53,11.05,6.30,5.63,12.36,3.75,10.83
15,10350.0,18.10,15.58,21.46,16.94,25.87,37.90,27.28,32.25,31.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# filling the values with an imputer which consider the row
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
means = pd.DataFrame(imputer.fit_transform(means))
means

,0,1,2,3,4,5,6,7,8,9,...,203,204,205,206,207,208,209,210,211,212
0,5707.0,12.60,8.85,18.15,9.60,24.77,39.21,22.12,28.45,29.57,...,13.33,13.91,3.35,17.59,5.89,2.96,5.64,14.45,8.47,8.47
1,5708.0,5.86,5.74,8.34,8.66,18.53,27.94,13.99,12.22,12.70,...,10.21,13.26,6.99,15.60,9.57,7.23,7.40,16.72,9.95,15.77
2,5710.0,4.97,5.05,8.08,12.25,16.53,28.98,21.19,24.88,24.49,...,6.53,7.04,2.74,9.89,3.62,1.58,1.55,10.49,3.47,14.88
3,5711.0,4.03,5.12,7.39,6.28,14.46,20.33,13.31,13.37,20.65,...,10.74,9.75,5.03,14.47,8.63,6.07,6.06,12.81,9.62,16.48
4,5712.0,12.51,15.25,9.98,9.00,15.67,30.54,29.31,36.70,32.24,...,7.64,5.64,0.70,11.64,6.18,4.99,5.37,13.72,8.69,19.98
5,5714.0,16.64,14.00,16.29,15.07,22.21,33.58,29.71,29.20,36.85,...,15.59,13.80,8.86,18.21,9.65,7.79,6.29,3.72,11.29,16.51
6,5715.0,5.65,5.25,8.01,6.54,15.15,21.00,12.32,20.78,22.73,...,11.73,11.87,7.67,14.02,9.97,8.09,8.23,12.52,11.21,15.51
7,5718.0,5.42,5.27,8.85,6.46,15.30,47.96,17.48,18.28,18.28,...,11.69,11.89,6.09,9.19,4.46,1.77,2.03,6.20,5.12,25.73
8,5717.0,6.45,7.69,8.74,8.94,10.33,17.33,12.48,13.86,14.91,...,7.76,7.14,1.86,10.40,4.00,1.34,1.43,9.92,5.08,11.59
9,5721.0,16.62,13.39,16.75,14.75,23.35,35.47,29.13,27.98,34.65,...,14.78,16.71,9.54,21.40,10.86,7.02,7.16,10.26,12.95,23.17
10,5722.0,5722.00,5722.00,8.41,11.18,17.32,25.05,21.15,23.75,26.84,...,10.78,10.98,6.91,11.86,8.56,7.07,6.68,15.13,8.61,8.61
11,5724.0,9.80,7.44,11.82,12.74,17.30,31.37,28.02,29.31,33.49,...,16.12,12.88,7.10,19.13,10.90,7.81,9.47,22.55,14.59,21.70
12,5725.0,2.14,2.07,2.94,5.10,9.82,19.14,15.95,15.00,25.77,...,9.08,9.18,5.30,11.20,7.84,6.48,9.08,19.35,21.79,9.95
13,9900.0,7.43,7.44,8.67,9.37,11.27,22.30,19.05,18.72,21.80,...,9.04,6.35,1.93,12.18,5.21,2.69,3.00,9.96,5.75,12.41
14,10282.0,6.04,6.25,7.36,8.25,6.35,18.65,17.86,17.89,23.64,...,9.43,9.14,4.61,11.82,6.74,3.98,3.39,12.14,6.49,21.11
15,10350.0,18.10,15.58,21.46,16.94,25.87,37.90,27.28,32.25,31.73,...,13.04,13.88,5.95,18.44,10.22,6.95,8.97,15.29,10.71,21.65

In [30]:
# finding the number of missing values for each row
means.isna().sum(axis=1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [33]:
# reassigning the columns
means.columns = colarray

In [34]:
# saving the means
means.to_csv('means_ozone.csv', index=False)