In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# loading all the dataset of the various zones of the city of milan
milan_baggio_deangeli_sansiro = pd.read_csv('Distretto_Milano_Baggio__De_Angeli__San_Siro.csv', sep=';')
milan_barona_lorentaggio = pd.read_csv('Distretto_Milano_Barona__Lorenteggio.csv', sep=';')
milan_center = pd.read_csv('Distretto_Milano_Centro.csv', sep=';')
milan_cittastudi_lambrate_venezia = pd.read_csv('Distretto_Milano_Città_Studi__Lambrate__Venezia.csv', sep=';')
milan_fiera_gallaratese_quartooggiaro = pd.read_csv('Distretto_Milano_Fiera__Gallaratese__Quarto_Oggiaro.csv', sep=';')
milan_centrale_gorla_turro_greco_crescenzago = pd.read_csv('Distretto_Milano_Stazione_Centrale__Gorla__Turro__Greco__Crescenzago.csv', sep=';')
milan_garibaldi_niguarda = pd.read_csv('Distretto_Milano_Stazione_Garibaldi__Niguarda.csv', sep=';')
milan_vigentino_chiaravalle_gratosoglio = pd.read_csv('Distretto_Milano_Vigentino__Chiaravalle__Gratosoglio.csv', sep=';')
milan_vittoria_forlanini = pd.read_csv('Distretto_Milano_Vittoria__Forlanini.csv', sep=';')

In [13]:
# putting all the dataset in a single dataset
# creating the new dataframe
milan_cardiovascular = pd.DataFrame()

# putting inside all of the other datasets by adding the specific zone
milan_baggio_deangeli_sansiro['Zona'] = 'Baggio, De Angeli, San Siro'
milan_barona_lorentaggio['Zona'] = 'Barona, Lorenteggio'
milan_center['Zona'] = 'Centro'
milan_cittastudi_lambrate_venezia['Zona'] = 'Città Studi, Lambrate, Venezia'
milan_fiera_gallaratese_quartooggiaro['Zona'] = 'Fiera, Gallaratese, Quarto Oggiaro'
milan_centrale_gorla_turro_greco_crescenzago['Zona'] = 'Stazione Centrale, Gorla, Turro, Greco, Crescenzago'
milan_garibaldi_niguarda['Zona'] = 'Stazione Garibaldi, Niguarda'
milan_vigentino_chiaravalle_gratosoglio['Zona'] = 'Vigentino, Chiaravalle, Gratosoglio'
milan_vittoria_forlanini['Zona'] = 'Vittoria, Forlanini'

# concatenating all of the datasets inside milan
milan = pd.concat([milan_baggio_deangeli_sansiro, milan_barona_lorentaggio, milan_center, milan_cittastudi_lambrate_venezia, milan_fiera_gallaratese_quartooggiaro, milan_centrale_gorla_turro_greco_crescenzago, milan_garibaldi_niguarda, milan_vigentino_chiaravalle_gratosoglio, milan_vittoria_forlanini], ignore_index=True)

# this is done so to remove the colum taken by the font of the data which is present in all the datasets and it is  easier to remove in this way than manually in all of them before 
milan_ = milan.dropna()

milan

,Anno,Maschi,Femmine,Totale,Zona
0,2007,78800.0,88959.0,167759.0,"Baggio, De Angeli, San Siro"
1,2008,78307.0,88296.0,166603.0,"Baggio, De Angeli, San Siro"
2,2009,78621.0,88743.0,167364.0,"Baggio, De Angeli, San Siro"
3,2010,79331.0,89510.0,168841.0,"Baggio, De Angeli, San Siro"
4,2011,80212.0,90584.0,170796.0,"Baggio, De Angeli, San Siro"
...,...,...,...,...,...
157,2020,77303.0,83883.0,161186.0,"Vittoria, Forlanini"
158,2021,77120.0,83474.0,160594.0,"Vittoria, Forlanini"
159,2022,78109.0,83929.0,162038.0,"Vittoria, Forlanini"
160,2023,80263.0,85130.0,165393.0,"Vittoria, Forlanini"
161,Fonte portalestatosalute.ats-milano.it,NaN,NaN,NaN,"Vittoria, Forlanini"

In [15]:
# saving the dataset in the folder as a csv file so to use it in other folders
import os  
os.makedirs('health_data', exist_ok=True)  
milan.to_csv('health_data/milan_districts.csv', index=False)